/*stili dei vari testi della pagina*/
body{
    background-image: url("../assets/img/cucina/pattern.png");  /*setto lo sfondo direttamente nel body*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#myUL  /*stile degli elenchi nelle tabelle di info*/
{
    list-style-type: none; /*toglie lo stile di default delle liste*/
    padding: 0;
    margin: 0;
    margin-top: 5%;
    text-align: left;
    padding-left: 45%;  /*in questo modo riesco a visualizzare la lista al centro ma con le voci allineate a sinistra*/
  
  }
h2{                         /*titoli delle portate nella sezione delle ricette*/
    text-decoration: none;
    font-size: xx-large;
    font-weight: 200;
    font-style: oblique;
    margin-left:0%;
    color: #FCFDFE;
}
h1 a{                     /*stile dei link ancora*/
    color: white;
}
h1 a:hover{               
    text-decoration: none; 
    color: black;  
}

.tab h4{                     /*titoli nelle tabelle di info*/
color:orangered;
font-size: 120%;
text-align: center;
}


li span{                  /* i nomi delle voci nella tabella dellle info generali*/
    font-style: italic;
    font-weight: bold;
}
h3{                     /*stile del titolo*/          
    text-align: center;
    color: white;
    padding-bottom: 1vw;
    padding-top: 1vw;
}


/*CAROUSEL*/


/*setto le dimensioni delle slide del carousel*/
.carousel-item img
{                   
    height: calc(100vh - 86px);
    object-fit: cover;
}
.carousel-item .content    /*contenuto del box di testo dentro le immagini del carousel*/
{
    position: absolute;                 /* posizione relativa al carousel quindi */
    bottom: 0;                          
    background: rgb(0, 0, 0);         
    background: rgba(0, 0, 0, 0.5);   /* sfondo con opacita 0.5 */
    color: #f1f1f1;                   
    width: 80%;                         /*  non prende tutta la larghezza inizialmente */
    padding: 5%;                    
    transition: 200ms all ease-in-out;  /*ci mette 200ms per mutare e gli effetti sono "smussati" all'inizio e alla fine*/
  }

.carousel-item:hover .content   /*comportamento del box di testo content quando passo sopra un immagine*/
{
    width: 100%;      /* Full width*/
    padding: 10%;     /*aumento un po anche il padding*/
    overflow: hidden;  
}
  .content p   /*testo all'interno del box*/
  {           
      display: none;/*all'inizio vedo solo i titoli*/
      transition: 200ms all ease-in-out;
  }
  .carousel-item:hover .content p /*quando passo sopra alle immagini vedo anche i paragrafi*/
  {
  display: inline;
  }

  /*FINE comportamento container del carousel*/









  /*INIZIO comportamento container delle sezioni per portata*/

 /* questo container mi serve per gestire il comportamento degli oggetti al suo interno. in particolare volevo che le immagini delle portate
 non si rimpicciolissero al ridimensionarsi della tabella come di solito ma che rimanessero delle stesse dimensioni 
 andando a capo se non entravano tutte in una riga*/
  .container-portate   
  {
    width:80%;               /*non lo faccio largo tutta la pagina cosi lascio dei margini*/
    margin-left: 10%;        /*decido quanto lasciare a destra e sinistra*/
    margin-top: 2.5%;        /*un po staccato dal titolo*/
    display: flex;           /*rende flessibile il container, in questo modo posso gestire meglio il comportamento degli elementi al suo interno*/
    flex-direction: row;     /*ordina gli item da sinistra a destra*/
    flex-wrap: wrap;         /*significa che se la pagina diventa troppo stretta gli elementi di questo container vanno a capo*/
    justify-content: center; /*tutti gli elementi sono centrati, anche quando vanno a capo per il ridimensionamento*/
      
}
  /*per tutte le informazioni su come gestire i container fluidi: https://css-tricks.com/snippets/css/a-guide-to-flexbox/#flexbox-background*/

.item-portate h1{          /*stile dei titoli per le portate*/
    text-align: center;
    font-size: x-large;
    font-style: oblique;
}
.item-portate img                        /*immagini delle portate arrotondate*/
{                   
    height: 175px;                      /*in questo unico caso imposto le dimensioni in pixel perche al ridimensionamento della pagina non voglio che questo elemento si adatti 
                                          ma voglio che i vari elementi vadano a capo mantenendo la propria grandezza, per questo ho impostato nowrap nel container*/
    width:  175px;
    margin:5;                             /*le spazio tra le foto*/
    border: solid 1px;
    border-radius:50%;                    /*massimo arrotondamento possibile*/
    transition: 300ms all ease-in-out;    /*i cambiamenti nell'hover ci metteranno 300ms a completarsi*/
}
.item-portate:hover img  /*quando passo sopra le immagini la ingradisco e/o levo l'arrotondamento delle stesse*/
{
   
    height: 200px;
    width: 200px;
}
/*FINE CONTAINER PORTATE*/











/*INIZIO CONTAINER RICETTE*/

.container-ricette /*contiene le tutte ricette e mi serve per riuscire a lasciare i margini a destra e sinistra*/
{     
    width:80%;
    margin-left: 10%;
}

.ricetta      /*container che forma la ricetta fatto di 1 colonna con 1 riga e una seconda colonna divisa in 2 righe*/
{      
    width:100%;    /*tutta la larghezza del container, quindi 80% della pagina*/
    margin-left:0%;
    height: 20vw;   /*altezza di tutte e tre le colonne*/
    border: 1px solid grey;
    display: flex;       /*rende il container della ricetta flessibile e mi permette di gestirne meglio il contenuto*/
    flex-wrap: nowrap;   /*tutti gli elementi di questo container stanno su una riga*/
    flex-direction: row;
    margin-bottom:5%;

    border-bottom-left-radius: 2.5% !important; /*per arrotontare la parte sinistra della ricetta*/
    border-top-left-radius: 2.5% !important;
}

/*PRIMA COLONNA DELLA RICETTA*/
.img-ricetta           /*sarà la foto del piatto*/
{   
    width: 30%;       /*prende il 30% della ricetta*/
}

.ricetta img      /*immagine all'interno del container ricetta*/
{
    height: 100%;      /*voglio che prenda tutta l'altezza che ho dato alla ricetta*/
    width: 100%;        /*voglio che sia larga il 100% del container img-ricette che è il 30% del container ricette, l'altro 70% lo voglio lasciare ai bottoni e alla sezione info*/

    border-bottom-left-radius: 2.5% !important; /*per arrotontare la parte sinistra della ricetta*/
    border-top-left-radius: 2.5% !important;
}

/*SECONDA COLONNA*/

/*PRIMA RIGA DELLA SECONDA COLONNA*/

.info-ricetta  /*la terza parte del container ricetta sara quello delle info, a cui assegnero la larghezza rimanente*/
{ 
    width:70%; /*tutta la larghezza che non si è presa la colonna con la foto*/
}

.bt-ricetta /*i bottoni prenderanno tutta la larghezza della seconda colonna e si fermeranno in alto*/
{    
width:100%;
height: 15%;
}

.openbtn{
   
    width:33.3%;    /* nel container devono entrare 3 bottoni*/
    height:100%;    /*i bottoni prendono tutta l'altezza del container, quindi 10% della ricetta */
    color: white;   
    margin:0;
    padding:0;    
    border:1px solid;  
    
    float: left;       /*da mettere per posizionare bene i bottoni, in modo che si allineino a sinistra*/
    background-color: sandybrown;

}
/*il testo all'interno dei tre bottoni*/
.openbtn p
{
    height: 100%;
    width: 100%;
    font-weight: 500;
    text-align: center;
    font-size: 20;
    transition: all ease-in-out 200ms;  
}

 /*SECONDA RIGA  DELLA SECONDA COLONNA*/
 .tabelle{
     width:100%; /*tutta la larghezza della seconda colonna*/
     height: 85%; /*l'altezza non presa dai bottoni*/
 }

 /*all'inizio tutte le tre tabelle avranno altezza pari a zero. quando premero il pulsante corrispondente
 a una tabella verra trigerata una funzione javascript che portera la sua altezza a 100% 
 in modo che prenda tutta la terza colona*/

#tab-ingredienti
{
    height: 0; /*all'inizio la tabella ha altezza nulla*/
    width: 100%; 
    background-color: white; 
    overflow: auto;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

#tab-procedimento
{
    height: 0; /*all'inizio altezza nulla*/
    width: 100%;  
    background-color: white;
    overflow: auto; /* scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}
#tab-info
{
    height: 100%; /*questa è la tabella visualizzata all'inizio*/
    width: 100%; 
    background-color: white;
    overflow: auto; /* scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/*tutti breakpoint che regolano soprattutto dimensione dei caratteri e selle varie parti delle ricette*/

@media(max-width:461px)
{   
    .container-ricette{   /*lascio meno margine alle ricette*/
        width:98%;
        margin-left:1%;
    }
    .ricetta      /*aumento un po il valore dell'altezza della ricetta*/
    {      
        height: 35vw;   /*altezza di tutte e tre le colonne*/
    }
   .bt-ricetta{
         height: 20%;  /*aumento l'altezza*/
    }
    .openbtn p{
        font-size: 3.5vw;
    }
    .tabelle{     /*diminuisco un po l'altezza*/
        height: 80%;
    }
    .tab ul {               /*stile degli elenchi nelle tabelle di info*/
        text-align: left;
        padding-left: 10%;  /*in questo modo riesco a visualizzare la lista al centro ma con le voci allineate a sinistra*/
      }
    .tab li{        /*le liste e i titoli all'interno della terza riga delle ricette*/
    margin-top: 2%;
    font-size: 3vw;
    align-items: center;
    }
    .tab h4{
    font-size:80%;
    text-align: left;
    }
}
@media(min-width:462px) and (max-width:770px)
{   
    .container-ricette{     /*contiene le ricette e mi serve per riuscire a lasciare i margini a destra e sinistra*/
        width:94%;
        margin-left:3%;
    }
    .ricetta{      /*container che forma la ricetta fatto di 1 colonna con 1 riga e una seconda colonna divisa in 2 righe*/      
        height: 40vw;   /*altezza di tutte e tre le colonne*/
    }    
    .bt-ricetta{
    height: 20%;  /*aumento l'altezza*/
    }
    .openbtn p{
        font-size: 3.5vw;
    }
    .tabelle{
        width:100%;
        height: 80%;
    }
    .tab ul {               /*stile degli elenchi nelle tabelle di info*/
        text-align: left;
        padding-left: 0%;  /*in questo modo riesco a visualizzare la lista al centro ma con le voci allineate a sinistra*/
    }
    .tab li{        /*le liste e i titoli all'interno della terza riga delle ricette*/
    margin-top: 2%;
    font-size: 3vw;
    align-items: center;
    }
    .tab h4{
    font-size:4vw;
    text-align: left;
    }  
}
@media(min-width:771px) and (max-width:1023px)
{
    .container-ricette{     /*contiene le ricette e mi serve per riuscire a lasciare i margini a destra e sinistra*/
        width:90%;
        margin-left:5%;
    }
    .ricetta{      /*container che forma la ricetta fatto di 1 colonna con 1 riga e una seconda colonna divisa in 2 righe*/      
        height: 30vw;   /*altezza di tutte e tre le colonne*/
    }    
    .bt-ricetta{
    height: 20%;  /*aumento l'altezza*/
    }
    .openbtn p{
        font-size: 3.5vw;
    }   
    .tabelle{
        width:100%;
        height: 80%;
    }
    .tab ul {               /*stile degli elenchi nelle tabelle di info*/
        text-align: left;
        padding-left: 0%;  /*in questo modo riesco a visualizzare la lista al centro ma con le voci allineate a sinistra*/
    }
    .tab li{        /*le liste e i titoli all'interno della terza riga delle ricette*/
    margin-top: 2%;
    font-size: 3.5vw;
    align-items: center;
    }
    .tab h4{
    font-size:4vw;
    text-align: left;
    }
}
@media(min-width:1024px) and (max-width:1100px)
{         
.bt-ricetta{
    height: 20%;  /*aumento l'altezza*/
    }
    .openbtn p{
        font-size: 2.5vw;
    }
    .tabelle{   
        height: 80%;
    }
    .tab ul {               /*stile degli elenchi nelle tabelle di info*/
        text-align: left;
        padding-left: 0%;  /*in questo modo riesco a visualizzare la lista al centro ma con le voci allineate a sinistra*/
    }
    .tab li{        /*le liste e i titoli all'interno della terza riga delle ricette*/
    margin-top: 2%;
    font-size: 2vw;
    align-items: center;
    }
    .tab h4{
    font-size:3vw;
    text-align: left;
    }
}