


/*per nascondere la navbar mentre si naviga*/
#nav-hide {
    background-color: #333;
    position: fixed;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 1;
  }


h2{
    text-decoration: none;
    font-size: xx-large;
    font-weight: 200;
  
    font-style: oblique;
    margin-left:0%;
    color: #FCFDFE;
   
}

h1 a{
    color:rgb(130, 221, 18);
   
    
}

h1 a:hover{
    text-decoration: none;
    color:rgb(174, 245, 9);
   
}
*{
    margin:0;
    padding:0;
}

.tab ul {
    margin-top: 5%;
    padding: 0;
    margin-left: auto;
    
  }

.tab li{        /*le liste e i titoli all'interno della terza riga delle ricette*/
text-align: center;
margin-top: 5%;
}
h4{
    color:orangered;
font-size: 15;
text-align: center;
}


#titolo{
    text-align: center;
    font-weight: 400;
    font-size: xx-large;
    color: white;
    margin-bottom: 0;
    background-image: url("../assets/img/cucina/sfondo4.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    padding-right: 5;

}


.container-principale /*quello che contiene tutti gli altri elementi e rispetto al quale si posizionano*/
{
    padding-top: 5%;
    background-image: url("../assets/img/cucina/sfondo4.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    width:100%;
    height: auto;
    
    
}



/*settando qui nel css l'altezza di tutte le immagini del carousel mi assicuro
che siano tutte allineate alla stessa altezza indipendentemente dalle oro dimensioni. 
è comunque consigliabile prendere immagini delle dimensioni giuste perche si vedano bene*/
.item img{                   
    height: 180px;
}

.container-carousel{  /*contiene l'owl carousel*/
    
    
    
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;    /*attaccato al titolo*/
    display: flex; /* or inline-flex */
    flex-direction: row; /*ordina gli item da sinistra a destra*/
    flex-wrap: nowrap;   /*tutti gli elementi di questo container stanno su una riga*/
}

.item .content    /*contenuto del box di testo dentro le immagini del carousel*/
{
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 80%; /* Full width - il margin lasciato agli item */
    padding: 20px; /* Some padding */

    transition: 200ms all ease-in-out;
  }

  .item:hover .content   /*comportamento del box  di testo content quando sto sopra un immagine*/
{
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width*/
    padding: 30px; /* Some padding */
    overflow: hidden;  
  }

  .content p{           /*all'inizio vedo solo i titoli*/
      display: none;
      transition: 200ms all ease-in-out;
  }
  .item:hover .content p /*quando passo sopra alle immagini vedo anche le descrizioni*/
  {
  display: inline;
  }

  /*FINE comportamento container del carousel*/
  /*INIZIO comportamento container delle sezioni per portata*/

  .container-portate
  {
 

    
    width:80%;   /*prende tutta la larghezza della pagina*/
    margin-left: 10%; /*non c'è bisogno di mettere margini a dx e sx visto che uso justify-content*/
    margin-right: 10%;
    margin-top: 2.5%;    /*un po stacato dal titolo*/

    display: flex; /* or inline-flex.  rende flessibile il container*/
    flex-direction: row; /*ordina gli item da sinistra a destra*/
    flex-wrap: wrap;   /*significa che se la pagina diventa troppo stretta gli elementi di questo container vanno a capo*/
    justify-content: center; /*tutti gli elementi sono centrati, anche quando vanno a capo per il ridimensionamento*/
  }
  /*per tutte le informazioni su come gestire i container fluidi: https://css-tricks.com/snippets/css/a-guide-to-flexbox/#flexbox-background*/

.item-portate h1{          /*stile dei titoli per le portate*/
    text-align: center;
    font-size: x-large;
    font-style: oblique;
}

.item-portate img           /*immagini delle portate arrotondate*/
{                   
    height: 150px;
    width:  200px;
    margin:5;              /*le stacco tra di loro*/
    border: solid 1px;
    border-radius:200px; /*dopo un certo valore non arrotonda piu*/

    transition: 300ms all ease-in-out; /*i cambiamenti nell'hover ci metteranno 300ms a completarsi*/
}

.item-portate:hover img  /*quando passo sopra le immagini la ingradisco e/o levo l'arrotondamento delle stesse*/
{
    border: solid 1px;
   /* border-radius: 0px; */ 
    height: 160px;
    width: 220px;
}

/*FINE CONTAINER PORTATE*/







/*INIZIO CONTAINER RICETTE*/

.container-ricette{     /*contiene tutte le div ricetta, che a loro volta sono divisa in due colonne tra immagine e sezione info*/


    width:80%;
    margin-left: 10%;
    margin-right: 0;
    margin-top: 0%;    /*attaccato al titolo*/
    display: flex; /* or inline-flex */
    flex-direction: column; /*ordina gli item in colonna, in quanto voglio una ricetta per riga*/
    /*flex-wrap: nowrap;   /*tutti gli elementi di questo container stanno su una riga*/

}


.ricetta{      /*la prima meta immaine, la seconda meta la sezione info*/
    width:100%; /*ogni ricetta lascia dei margini ai lati*/
    margin-left:0%;
    height: 300px;   /*altezza di tutte e tre le colonne*/
    border: 1px solid grey;
    flex-wrap: nowrap;   /*tutti gli elementi di questo container stanno su una riga*/
    display: flex;
    flex-direction: row;
    margin-bottom:5%;
}

/*PRIMA COLONNA*/

.img-ricetta{    /*prima delle tre sezioni in cui è diviso il container ricette*/
    width: 30%;
}

.ricetta img{
    height: 100%; /*voglio che prenda tutta l'altezza che ho dato alla ricetta*/
    width: 100%; /*voglio che sia larga il 100% del container img-ricette che è il 30% del container ricette, l'altro 70% lo voglio lasciare ai bottoni e alla sezione info*/
}

/*SECONDA COLONNA*/
















.info-ricetta{  /*la terza parte del container ricetta sara quello delle info, a cui assegnero la larghezza rimanente*/
    width:70%; /*tutta quella del container ricette meno quella delle altre due colonne*/
    
}

.bt-ricetta{
width:100%;
height: 10%;


}

.openbtn{
    width:33.3%;  /*potevo anche non metterlo, comunque prendono tutta la seconda colonna del container ricetta*/
    height:100%;
    margin:0;
    padding:0;
    background: transparent;
    border:0px;
    color: white;       
    border-radius: 7px;
    transition: 0.3s;  
    float: left;       /*da mettere per posizionare bene i bottoni, senza questi la posizione si distorce*/
   
   background-color: sandybrown;
   background-image: url("../assets/img/cucina/pattern.png");
    
}

.openbtn:hover{
    border-radius: 0px;
}




/*il testo all'interno dei tre bottoni*/
.openbtn p{
   
    height: 100%;
    width: 100%;
    font-weight: 500;
    text-align: center;
    font-size: 20;
    transition: all ease-in-out 200ms;
   
}

 /*seconda riga della seconda colonna*/

 .tabelle{
     width:100%;
     height: 90%;
 }

 /*all'inizio tutte le tre tabelle avranno larghezza pari a zero. quando premero il pulsante corrispondente
 a una tabella verra trigerata una funzione javascript che cambiera la larghezza facendogli prendere tutta la terza colona*/



#tab-ingredienti{
   
    height: 0; /*all'inizio visualizzo la tabella degli ingredienti*/
    width: 100%; 
    background-color: whitesmoke; 
    overflow: auto;
    
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    
 
}


#tab-procedimento{

    height: 0; /*all'inizio altezza e larghezza sono zero li cambiamo con la funzione javascript*/
    width: 100%; 
    
    background-color: whitesmoke;
    overflow: auto; /* scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    z-index: 1;
   
}


#tab-info{

    height: 100%; /*all'inizio altezza e larghezza sono zero li cambiamo con la funzione javascript*/
    width: 100%; 
    
    background-color: whitesmoke;
    overflow: auto; /* scroll */
    
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    z-index: 1;
    
}





/*quando lo schermo diventa piu piccolo devo aumentare la larghezza delle 
prime due colonne e diminuire la terza di ogni ricetta. devo anche diminuire 
l'altezza di tutto se lo schermo diventa piu piccolo*/


/*COSE DA VEDERE*/
/*si potrebbero anche rimpicciolire le immagini della sezione portate cosi da non far venire una colonna sola*/
/*e si dovrebbe ingrandire il font delle tabelle in alcuni device e nello schermo intero,. questo pero dipende anche da
come decido di strutturare il contenuto, da rivedere quando riempiamo il sito*/



@media(max-width:411px)
{
     /*modifico le dimensioni delle tre colonne*/
     /*tutto il resto sta dentro una delle tre righe ed'è impostato in percentuale percio si adattera da solo*/


    
.ricetta{      /*la prima meta immaine, la seconda meta la sezione info*/
    width:100%; /*ogni ricetta lascia dei margini ai lati*/
    margin-left:0%;
    height: 100px;   /*altezza di tutte e tre le colonne*/
    border: 1px solid grey;
    flex-wrap: nowrap;   /*tutti gli elementi di questo container stanno su una riga*/
    display: flex;
    flex-direction: row;
    margin-bottom:5%;
}


.bt-ricetta{
    width:100%;
    height: 20%;
    
    
    }
    
    .openbtn{
        width:33.3%;  /*potevo anche non metterlo, comunque prendono tutta la seconda colonna del container ricetta*/
        height:100%;
        margin:0;
        padding:0;
      
        border:0px;
        color: white;       
        border-radius: 3px;
        transition: 0.3s;  
        background-color: sandybrown;
        background-image: url("../assets/img/cucina/pattern.png");
    }

    
    .openbtn p{
   
        height: 100%;
        width: 100%;
        font-weight: 500;
        text-align: center;
        font-size: 10;
        transition: all ease-in-out 200ms;
       
    }
    
    
    .tabelle{
        width:100%;
        height: 80%;
    }

    .tab ul {
        margin-top: 2%;
        padding: 0;
        margin-left: auto;
        font-size: 10;
        
      }
    
    .tab li{        /*le liste e i titoli all'interno della terza riga delle ricette*/
    text-align: center;
    margin-top: 2%;
    font-size: 10;
    }

    .tab h4{
    color:orangered;
    font-size: 12;
    text-align: center;
    }
   
}


@media(min-width:414px) 
{
    

    
.ricetta{      /*la prima meta immaine, la seconda meta la sezione info*/
    width:100%; /*ogni ricetta lascia dei margini ai lati*/
    margin-left:0%;
    height: 100px;   /*altezza di tutte e tre le colonne*/
    border: 1px solid grey;
    flex-wrap: nowrap;   /*tutti gli elementi di questo container stanno su una riga*/
    display: flex;
    flex-direction: row;
    margin-bottom:5%;
}


.bt-ricetta{
    width:100%;
    height: 20%;
    
    
    }
    
    .openbtn{
        width:33.3%;  /*potevo anche non metterlo, comunque prendono tutta la seconda colonna del container ricetta*/
        height:100%;
        margin:0;
        padding:0;
      
        border:0px;
        color: white;       
        border-radius: 3px;
        transition: 0.3s;  
        background-color: sandybrown;
        background-image: url("../assets/img/cucina/pattern.png");
    }

    
    .openbtn p{
   
        height: 100%;
        width: 100%;
        font-weight: 500;
        text-align: center;
        font-size: 10;
        transition: all ease-in-out 200ms;
       
    }
    
    
    .tabelle{
        width:100%;
        height: 80%;
    }

    .tab ul {
        margin-top: 2%;
        padding: 0;
        margin-left: auto;
        font-size: 10;
        
      }
    
    .tab li{        /*le liste e i titoli all'interno della terza riga delle ricette*/
    text-align: center;
    margin-top: 2%;
    font-size: 10;
    }

    .tab h4{
    color:orangered;
    font-size: 12;
    text-align: center;
    }
}

@media(min-width:768px)
{


   

    
    .ricetta{      /*la prima meta immaine, la seconda meta la sezione info*/
        width:100%; /*ogni ricetta lascia dei margini ai lati*/
        margin-left:0%;
        height: 250px;   /*altezza di tutte e tre le colonne*/
        border: 1px solid grey;
        flex-wrap: nowrap;   /*tutti gli elementi di questo container stanno su una riga*/
        display: flex;
        flex-direction: row;
        margin-bottom:5%;
    }
    
    
    .bt-ricetta{
        width:100%;
        height: 10%;
        
        
        }
        
        .openbtn{
            width:33.3%;  /*potevo anche non metterlo, comunque prendono tutta la seconda colonna del container ricetta*/
            height:100%;
            margin:0;
            padding:0;
          
            border:0px;
            color: white;       
            border-radius: 3px;
            transition: 0.3s;  
            background-color: sandybrown;
            background-image: url("../assets/img/cucina/pattern.png");
        }
    
        
        .openbtn p{
       
            height: 100%;
            width: 100%;
            font-weight: 500;
            text-align: center;
            font-size: 18;
            transition: all ease-in-out 200ms;
           
        }
        
        
        .tabelle{
            width:100%;
            height: 90%;
        }
    
        .tab ul {
            margin-top: 4%;
            padding: 0;
            margin-left: auto;
            font-size: 15;
            
          }
        
        .tab li{        /*le liste e i titoli all'interno della terza riga delle ricette*/
        text-align: center;
        margin-top: 4%;
        font-size: 15;
        }
    
        .tab h4{
        color:orangered;
        font-size: 18;
        text-align: center;
        }
    }