.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.title{
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}

@media (max-width: 800px) {
     .title{
         font-size: 3rem;
         font-weight: 300;
     }
    .card-img-top {
        width: 100%;
        height: 70vw;
        object-fit: cover;
    }
    h1{
        font-size: 2.2rem;
    }
}