.card-text{
   text-align: left;
}
li{   
    text-align: left;
}
body {
    background-image: url("../assets/img/workout/Home1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
}

/*Testo al centro del body e freccie animate*/
.centrale {
    position: absolute; /*relativo al container*/
    top: 30%;
    margin-left: calc(50vw - 11.8vw - 20px - 3px);
}

/*Stile del testo al centro della home*/
.stile-testo-centrale {
    font-size: max(6vw, 30px);
    z-index: 2;
    border: 3px solid #f1f1f1;
    padding: 20px;
    text-shadow: 1px 1px grey;
}

/*Dimensione immagine della card*/
.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

/*Margine del card-group*/
.card-group {
    margin-top: calc(100vh - 86px);
}


/*scroll down icon */
#scroll a span {
    position: absolute;
    margin-left: calc(50% - 23px);
    width: 46px;
    height: 46px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    box-shadow: -1px 1px grey;
    transform: rotate(-45deg);
    animation: arrow-animation 2s infinite;   /*animazione delle freccie sotto il titolo*/
    opacity: 0;
    box-sizing: border-box;
}

#scroll a span:nth-of-type(1) {   /*il primo span, quindi la prima freccia*/
    top: 100%;
    animation-delay: 0s;
}

#scroll a span:nth-of-type(2) {
    top: 120%;
    animation-delay: .15s;
}

#scroll a span:nth-of-type(3) {
    top: 140%;
    animation-delay: .3s;
}

@keyframes arrow-animation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@media (max-width:800px) {
    .card-img-top {
        width: 100%;
        height: 70vw;
        object-fit: cover;
    }

    body {
        background: url("../assets/img/workout/Home1Mobile.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: right;
    }

    #scroll a span {
        width: 35px;
        height: 35px;
    }
}