
.card-body p,.card-body li{
  float: left;
  text-align: left;
}

body {
  background-image: url(../assets/img/workout/pattern.png);
  background-attachment: fixed;
}

#nav-fixed {
  z-index: 2; /*pongo la navbar fissa sopra quella che scompare*/
}

#nav-hide {
  background-color: #333;
  position: fixed;          
  width: 100%;
  display: block; /*l'elemento cosi prende tutta la larghezza disponibile*/
  transition: top 0.3s;/* cosi scompare non all'istante*/
  z-index: 1;
}

.title{
  margin-top: 5rem;
  font-size: 3rem;
  font-weight: 300;
    line-height: 1.2;
    text-shadow: 0px 0px black;
}

/*GRAFICA DEL FILTRO*/

/* stile dei bottoni */
#nav-hide .btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  color: black
}


#nav-hide .btn:hover {
  background-color: #ddd;
}


#nav-hide .btn.active {
  background-color: #666;
  color: white;
}

/*in questa sotto classe metto anche tutti gli stili delle carte, come la larghezza*/
  /*tutti gli oggetti filtrabili devono avere questa classe per potermi riferire a loro nel javascript*/
  /*tutte le card hanno questa classe*/
.filterDiv {
  display: none;  /*cosi vengono visualizzate solo le card selezionate*/
  margin: 1rem;
}

.mio-container {
  /*il container che contiene tutti gli oggetti filtrabili*/
  text-align: center; 
  width: 96%;
  margin-right: 2%;
  margin-left: 2%;
}
/* la classe show è aggiunta agli oggetti filtrati e display passa da none a block */
.show {
  width: 22.6vw;
  display: block;
}

.card-img-top {
  height: 25vw;
  object-fit: cover;
}

.card-body {
  height: 10rem;
  overflow:auto;

}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 2%;
  overflow: auto;
}

.h1{
  font-size: 10rem;
}



/*gestione dei breakpoint per visualizzare le schede bene su schermi di ogni dimensione*/

@media (max-width: 1600px) {
  .show {
    width: 30vw;
  }
}

@media (max-width: 1300px) {
  .show {
    width: 46vw;
  }
  .card-img-top {
    height: 45vw;
  }
}

@media (max-width: 1200px) {
  .show {
    width: 44vw;
  }
  .card-img-top {
    height: 52vw;
  }
}

@media (max-width: 800px) {

  .show {
    width: 100%;
  }

  .card-img-top {
    height: 80vw;
  }
}

/*
altri eventuali @media
*/